{% extends 'student/base.html' %}
{% load staticfiles %}
{% block userbody %}
<style>
.maindiv{
position:absolute;
left:35%;
top:15%;
background:rgba(114,114,255,0.7);
float:left;
color:white;
}
table tr td label{
width:200px;
}
table tr{
height:100px;
text-align:center;
}
table{
width:400px;
}
input[type=text],input[type=password],input[type=number]{
height:30px;
border:1px solid rgb(114,114,255);
padding:5px;
border-radius:8px;
}
input[type=submit]{
width:30%;
height:40px;
border:1px solid white;
background:none;
color:white;
font-size:18px;
text-transform:uppercase;
}
</style>
<div class="maindiv">
<form method="post" required autocomplete="off">
{% csrf_token %}
<table>
<tr>
<td><label>Name</label></td>
<td><input type="text" name="name" value="{{obj.name}}" placeholder="Enter Name"></td>
</tr>
<tr>
<td><label>Student Id</label></td>
<td><input type="password" name="studentid" value="{{obj.studentid}}" placeholder="Enter Student Id" readonly></td>
</tr>
<tr>
<td><label>Class</label></td>
<td><input type="text" name="classes" value="{{obj.classes}}" placeholder="Enter Class"></td>
</tr>
<tr>
<td><label>Mobile Number</label></td>
<td><input type="number" name="mobile" value="{{obj.mobile}}" placeholder="Enter Mobile"></td>
</tr>
<tr>
<td><label>Location</label></td>
<td><input type="text" name="location" value="{{obj.location}}" placeholder="Enter Location"></td>
</tr>
<tr>
<td colspan="2" style="align:center"><input type="submit" name="submit" value="submit"></td>
</tr>
</table>
</form>
</div>
{% endblock %}