{% extends 'teacher/base.html' %}
{% block userbody %}
{% load staticfiles %}
<style>
.divform{
    height:50em;
    border: 1px double #ccc;
    border-radius:10px;
    float:left;
    background:rgba(177,149,214,0.5);
    padding:50px;
    margin-top:50px;
    margin-left:250px;
    overflow:auto;
}
table{
border-collapse:collapse;
}
table tr th{
padding:10px;
background:green;
border:1px solid green;
color:white;
text-transform:uppercase;
}
table tr td{
padding:10px;
}
table tr td{
text-align:center;
color:white;
}
table tr td:first-child{
border-left:1px solid green;
}
table tr td:last-child{
border-right:1px solid green;
}
table tr:last-child{
border-bottom:1px solid green;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="divform">
<table>
<tr>
<th>Teacher</th>
<th>Subject</th>
<th>Exam</th>
<th>Conducted Date</th>
<th>Uploaded Date</th>
<th>Image</th>
<th>View</th>
</tr>
{% for da in data %}
<tr>
<td>{{da.user}}</td>
<td>{{da.subject}}</td>
<td>{{da.exam}}</td>
<td>{{da.dateconducted}}</td>
<td>{{da.dateuploaded}}</td>
<td><img src="{{da.answerpapers.url}}" style="height:12%;" ></td>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{da.id}}">view</button></td>
 <div class="modal fade" id="myModal{{da.id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Answer Papers</h4>
        </div>
        <div class="modal-body">
          <div>
            <p style="">User:{{da.user}}</p><br/>
            <p style="">Subject:{{da.subject}}</p><br/>
            <p style="">Exam:{{da.exam}}<br/>
            <p style="">Date Conducted:{{da.dateconducted}}<br/>
            <p style="">Date Uploaded:{{da.dateuploaded}}<br/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
{% endfor %}
</tr>
</table>
</div>

{% endblock %}